.flatButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  user-select: none;
  outline: none;
  border-radius: 50px;
}

.flatButton:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.child {
  padding: 0.2rem;
}
