html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 8px 0 8px 0;
}

img {
  max-width: 100%;
  display: block;
}

.scaledBodyRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(10%, 45%, 60%);
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  #__next {
    width: 90vw;
  }
}

.primaryText {
  font-size: x-large;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.479);
}

.subtitle {
  font-weight: 200;
  font-size: large;
}

.secondaryText {
  font-weight: 300;
  font-size: medium;
}

.captionText {
  font-weight: 300;
  font-size: small;
}

.fullWidth {
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(155, 155, 155);
}
