.profilePicture {
  border-radius: 26px;
}

.profilePictureContainer {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.timelineLink {
  justify-content: center;
}

.navBar {
  width: 100%;
}

.section {
  width: 100%;
  margin-bottom: 2rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.479);
}
