.root {
  position: absolute;
  left: 1%;
  top: 2.5%;
  bottom: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  max-width: 300px;
  border-right: 1px solid black;
  padding-right: 16px;
  height: 95vh;
}

@media only screen and (max-width: 768px) {
  .root {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    border-right: none;
  }
}

.itemLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  cursor: pointer;
}

.itemLayout:hover {
  border-bottom: 1px solid black;
}

.selected {
  border-bottom: 1px solid black;
}
