.root {
  position: absolute;
  left: 1%;
  top: 2.5%;
  bottom: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  max-width: 300px;
  border-right: 1px solid black;
  padding-right: 16px;
  height: 95vh;
}

@media only screen and (max-width: 768px) {
  .root {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    border-right: none;
  }
}

.itemLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  cursor: pointer;
  max-width: 30vw;
}

.itemLayout:hover {
  border-bottom: 1px solid black;
}

.selected {
  border-bottom: 1px solid black;
}

.menuButton {
  position: fixed;
  top: 6px;
  right: 6px;
  z-index: 2;
}

.mobileMenu {
  position: fixed;
  background: white;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  composes: fadeInSecondary from "../../../styles/animations.css";
}

.mobileMenuRoutes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  composes: fadeInSecondary from "../../../styles/animations.css";
}
