.flatButton {
  background-color: white;
  border: none;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  user-select: none;
  outline: none;
  border-radius: 50px;
}

.flatButton:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}
