.button {
  background-color: white;
  border: solid 1px;
  color: black;
  padding: 6px 12px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  user-select: none;
  outline: none;
}

.button:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.button:disabled {
  color: gray;
  background: lightgray;
  cursor: not-allowed;
}
