.container {
  min-height: 180px;
}

.actions {
  margin-top: 1rem;
}

.carousel {
  position: relative;
}

.button {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
}

.pageIndicatorText {
  font-size: 0.9rem;
  font-weight: 200;
}
