.achievement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.achievementImage {
  width: 35px;
  height: 35px;
}

.timelineContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: fadeInPrimary from "../../../styles/animations.css";
}

.record {
  width: 55%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.highlight {
  margin-bottom: 2rem;
  font-weight: 200;
  font-size: small;
}

.vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
