.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.rank {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  font-size: 16px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 6px;
  composes: tooltip from "/styles/tooltip.css";
}

.rankTooltipText {
  width: 150px;
  margin-left: -75px;
  composes: tooltiptext from "/styles/tooltip.css";
}
