.dialogLayout {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 6px 22px 6px 22px;
  margin: 5% auto;
  border-radius: 12px;
  width: clamp(10%, 55%, 100%);
  height: auto;
  max-height: 80%;
  composes: fadeInSecondary from "../../../styles/animations.css";
}

.dialogContent {
  overflow: auto;
  padding-right: 8px;
}

.dialogRoot {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
  width: 100%;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 2;
  composes: fadeInSecondary from "../../../styles/animations.css";
}

.dialogHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.closeButton {
  background-color: white;
  border: none;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  user-select: none;
  outline: none;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.closeButton:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.hidden {
  display: none;
}

.dialogActions {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 8px;
  margin: 8px 0px 8px 0px;
}

@media only screen and (max-width: 768px) {
  .dialogLayout {
    border-radius: 0px;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .dialogContent {
    padding-bottom: 4rem;
  }
}
