.entry {
  margin-bottom: 2rem;
}

.achievementImage {
  border-radius: 8px;
}

.timelineContent {
  margin-top: 2rem;
  max-width: 800px;
  composes: fadeInPrimary from "../../styles/animations.css";
}
