.root {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  composes: fadeInPrimary from "./animations.css";
}

.content {
  margin: 3rem 0 5rem 0;
  width: 75vw;
  max-width: 50rem;
}

.profilePicture {
  width: auto;
  height: auto;
  max-width: 14rem;
  max-height: 14rem;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 1px;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.bio {
  margin-top: 2rem;
  composes: fadeInSecondary from "./animations.css";
}
