.closeButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: x-large;
  text-align: center;
  top: 2rem;
  right: 5vw;
}
